@model IEnumerable<CoderGirl_MVCMovies.ViewModels.Movie.MovieListViewModel>

@{
    ViewData["Title"] = "Movies";
}

<h1>Movies</h1>

<p>
    <a asp-controller="Movie"asp-action="Create">Add New Movie</a>
</p>
<table class="table">
    <thead>
        <tr id=model.Id>
            @*<th>
                @Html.DisplayNameFor(model => model.Id)
            </th>*@
            <th>Movie Name
                @*@Html.DisplayNameFor(model => model.Name)*@
            </th>
            <th>Director
                @*@Html.DisplayNameFor(model => model.DirectorName)*@
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Year)
            </th>
            <th>Average Rating</th>
            <th>Number of Ratings</th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr>
            @*<td>
                @Html.DisplayFor(modelItem => item.Id)
            </td>*@
            <td>
                @Html.DisplayFor(modelItem => item.Name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.DirectorName)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.Year)
            </td>

            @if (item.Ratings.Count > 0)
            {
                <td>@item.Ratings.Average()</td>
            }
            else
            {
                <td>none</td>
            }
            <td>@item.Ratings.Count</td>

            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.Id }) |

                @Html.ActionLink("Delete", "Delete", new { id = item.Id })

            </td>
            <td><a asp-controller="MovieRating" asp-action="Create" asp-route-movieId="@item.Id">Rate</a></td>
        </tr>
}
    </tbody>
</table>
